<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <div slot="start" style="padding: 0 10px;"  >
      <img src="assets/images/logo.svg" width="30px" />
    </div>
    <ion-searchbar animated mode="ios" style="padding: 16px 0px"></ion-searchbar>
    <ion-button slot="end">
      <ion-icon  name="notifications"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--  Non utilisé dans notre cas puisque l'on désire une page complète plutot que simplement afficher un texte different-->
 <!--  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>


  <app-explore-container name="Tab 1 page"></app-explore-container> -->
<!-- Slider - ion-slides qui utilise swiper en version 6 -->
<swiper [autoplay]="true" [keyboard]="true" [pagination]="true" [scrollbar]="true" [zoom]="true">
  <ng-template *ngFor="let monslide of mesSlides" swiperSlide>
   <img src="{{monslide}}" />
  </ng-template>
</swiper>
<!-- mes cartes de produits-->
<ion-grid>
  <ion-row class="ion-justify-content-between">
       <ion-col size="4">
          <div><strong>Products</strong></div>
       </ion-col>
       <ion-col size="6" class="ion-text-right" >
         <ion-icon name="filter"></ion-icon>
       </ion-col>
  </ion-row>
  <ion-row >
      <ion-col *ngFor="let p of mesProduits">
          <ion-card >
            <ion-card-header>
              <img src="{{p.picture}}">
            <ion-card-subtitle>{{p.category}}</ion-card-subtitle>
            <ion-card-title>{{p.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{p.price}} {{p.currency}}
              <br>
              <ion-button (click)="addToCart(p)" expand="full" color="danger" size="small">Add to Basket</ion-button>
            </ion-card-content>
          </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
